.photoBreak {
  display: flex;
  width: 100%;
}

.photoWrap {
  position: relative;
  flex: 1;
  aspect-ratio: 3 / 4;
}

.photo {
  object-fit: cover;
  object-position: center 20%;
  filter: brightness(0.88);
}

.photoLeft {
  object-position: 48% 20%;
  filter: brightness(0.7);
}

.photoRight {
  object-position: 38% 20%;
  filter: brightness(0.85) saturate(0.85);
}


@media (max-width: 700px) {
  .photoBreak {
    flex-direction: column;
  }

  .photoRight {
    object-position: 38% 0%;
  }
}
